@import "./styles/fonts.css";
@import "./styles/experience.css";
@import "./styles/reference.css";

@media print {
    body > cv-section {
        margin-top: -1.75em;
        padding: 8px; /* Avoid cut-off headings */
    }
}

@media screen {
    body {
        background-color: #fdfdfd;
    }

    body > cv-section {
        margin-top: 1em;
        max-inline-size: 768px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li:not(:last-child) {
    margin-block-end: 0.25em;
}
