body {
    background-color: #fcfcfc;
    padding: 5vh 25vw;
}

table {
    margin: auto;
}

span.value {
    font-family: source-sans-pro, monospace;
    font-weight: 300;
    font-size: 10pt;
}

tr.section.title > td {
    height: .35in;
    padding: 0;
}

tr.section.title > td > p {
    margin-bottom: 0;
    margin-bottom: 0;
    line-height: normal
}

tr.section.title > td > p > span {
    font-family: source-code-pro, monospace;
    font-weight: 600;
    font-size: 14.0pt;
    color: #404040;
    letter-spacing: -.6pt;
}
