@import "./fonts.css";
@import "./experience.css";

@media print {
    body > cv-section {
        margin-top: -1.75em;
        padding: 8px; /* Avoid cut-off headings */
    }
}

@media screen {
    body {
        background-color: #fdfdfd;
    }

    body > cv-section {
        margin: 1em;
        max-inline-size: 768px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

cv-section:not(:defined) {
    display: none;
}
