ol {
    margin: 0;
    padding: 0;
}

ol > li:not(:last-child) {
    margin-block-end: 0.25em;
}

li {
    counter-increment: references;
    margin-inline: 1.5em 0;
}

li::marker {
    content: "[" counter(references) "]  ";
    text-align: end;
}
