a {
    color: inherit;
    text-decoration: none;
    font-style: italic;
}

#title::before {
    content: " “";
}

#title::after {
    content: ".” ";
}

#date::before {
    content: " (";
}

#date::after {
    content: "): ";
}

#pages::after {
    content: ".";
}
