article {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

article > section {
    display: flex;
    flex-direction: column;
}

article > section > h2 {
    font-weight: 600;
    font-size: 1.15em;
    color: #404040;
    letter-spacing: -0.045em;
    margin: 0.7em 0;
}
