article {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

article > h1 {
    font-size: 2.4em;
    font-style: normal;
    font-weight: 900;
    margin: 1em 0;
}

article > section {
    display: flex;
    flex-direction: column;
}

article > section > h2 {
    font-weight: 600;
    font-size: 1.15em;
    color: #404040;
    letter-spacing: -0.045em;
    margin: 0.7em 0;
}

article dl {
    display: grid;
    grid-template-columns: minmax(140px, auto) 1fr;
    column-gap: 1.5em;
    row-gap: 0.7em;
    align-items: baseline;
    margin: 0 0 0 0.1em;
}

article dt {
    font-style: normal;
    font-weight: 600;
    font-size: 0.75em;
    grid-column: 1;
}

article dd {
    font-style: normal;
    font-size: 0.833em;
    margin: 0;
}

article dt + dd {
    grid-column: 2;
}

article > section.detailed dt + dd {
    font-weight: 600;
}

article dt + dd + dd {
    font-style: italic;
    grid-column: 2;
    margin-block-start: -0.75em;
}

article dt + dd + dd + dd {
    font-style: italic;
    grid-column: 2;
    margin-block-start: -0.55em;
    margin-inline-start: 1em;
}

article dt + dd + dd + dd > cv-tag:first-of-type {
    margin-left: -1.15em;
}

article dd > cv-tag:not(:first-of-type) {
    margin-left: 0.25rem;
}
