@font-face {
    font-family: source-code-pro;
    font-weight: 600;
    src: url("/assets/fonts/SourceCodePro-Semibold.ttf.woff2") format("woff2");
}

@font-face {
    font-family: source-code-pro;
    font-weight: 900;
    src: url("/assets/fonts/SourceCodePro-Black.ttf.woff2") format("woff2");
}

@font-face {
    font-family: source-sans;
    src: url("/assets/fonts/SourceSans3-Regular.ttf.woff2") format("woff2");
}

@font-face {
    font-family: source-sans;
    font-style: italic;
    src: url("/assets/fonts/SourceSans3-It.ttf.woff2") format("woff2");
}

@font-face {
    font-family: source-sans;
    font-weight: 600;
    src: url("/assets/fonts/SourceSans3-Semibold.ttf.woff2") format("woff2");
}
