body {
    counter-reset: references;
}

.reference {
    counter-increment: references;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0 0.7ch;
    margin-inline-start: 1.7em;
}

.reference::before {
    content: "[" counter(references) "]";
    text-align: end;
    margin-inline-start: -1.7em;
    margin-inline-end: 0.35ch;
}

.reference > .author {
    order: 1;
}

.reference > .title {
    order: 2;
    font-style: italic;
}

.reference > .title::before {
    content: "“";
    margin-inline-end: -0.5ch;
}

.reference > .title::after {
    content: ".”";
    margin-inline-start: -0.5ch;
}

.reference > .journal {
    order: 3;
}

.reference > .date {
    order: 4;
}

.reference > .date::before {
    content: "(";
}

.reference > .date::after {
    content: "):";
}

.reference > .pages {
    order: 5;
}

.reference > .pages::after {
    content: ".";
}
